body{
    background-color: white;
}


/* NAVIGATION BAR */

.navbar-default{
    background-color: #3C4A59;
}

.navbar-fixed-bottom{
    background-color: #3C4A59;
}

.nav.navbar-nav li a{
    color: white;
}
.nav.navbar-nav li a:visited{
    color: white;
}

.nav.navbar-nav li.active a{
    background-color:#758586;
    color:white;
}

.nav.navbar-nav li.active a:hover{
    background-color:#0077C0;
    color:white;
}
.nav.navbar-nav li a:hover{
    color: white;
    background-color:#0077C0;
}

.navbar-default .navbar-brand{
    margin-right: 20px;
    color:white;
}

.navbar-default .navbar-brand:hover{
    color:white;
    background-color:#0077C0;
}

/* END OF NAVIGATION BAR */

/* FOOTER */

.navbar-fixed-bottom .footer-copyright {
    margin-top: 12px;
    color: white;
}

.navbar-fixed-bottom .footer-copyright:hover {
    margin-top: 12px;
    color: #0077C0;
}

/* END OF FOOTER */

/* SEARCH INPUT FIELD */

#searchText{
    background-color: #E0E0E0;
    color: #3C4A59;
}

/*TABLE OF ARTICLES */

#tableOfArticles thead{
    color: white;
    background-color: #758586;
}

#tableOfArticles tbody td{
    color: #3C4A59;
    background-color: #E0E0E0;
    border-color: white;
    font-weight: bold;
}

/* LABELS AND HEADERS */
.container h2{
    color: #3C4A59;
}
label{
    color: #3C4A59;
}

.form-control{
    background-color: #E0E0E0;
    color: #3C4A59;
}


/* DROPDOWN */

#myDropdownItem{
    background-color: #3C4A59;
    color: white;
    padding: 10px;
}


#myDropdown:focus{
    background-color: #3C4A59;
    color:white;
}


#myDropdownItem:hover{
    background-color: #0077C0;
    color:white;
}